.header-container {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
  }
  
  .header-title {
    margin: 0;
  }
  