.dashboard-container {
    background-color: #f4f4f4; /* Light gray background color */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: -webkit-fill-available;
   
  }
  
  .dashboard-button {
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dashboard-container button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  