.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
    /* z-index: 999; Ensure the backdrop appears above other elements */
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Set maximum width for the popup */
    min-width: 400px;
  }
  
  .popup-inner {
    text-align: center;
  }
  
  .popup-inner h2 {
    margin-bottom: 20px;
  }
  
  .popup-inner input {
    width: calc(100% - 20px); /* Adjust input width to fit within the popup */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-button,
  .close-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #007bff; /* Blue submit button color */
    color: #fff; /* White text color */
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  
  .close-button {
    background-color: #dc3545; /* Red close button color */
    color: #fff; /* White text color */
  }
  
  .close-button:hover {
    background-color: #c82333; /* Darker red color on hover */
  }
  